body {
	text-align: center;
	font-family: Arial;
}

#rock, #paper, #scissors {
	align-content: center;
	width: 150px;
	height: 150px;
	margin: 50px auto;
}

.options {
	display: grid;
	grid-template: 150px / auto auto auto;
}

img:hover {
	background-color: #E5E4E4;
}

.round {
	margin-top: 150px;
}

.score {
	display: grid;
	grid-template: 150px/ auto auto;
	align-items: center;
}